:root {
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
  --brand-primary: #6c63ff;
  --brand-secondary: #f9f7fe;
}

body {
  font-family: var(--default-font);
}

nav {
  padding: 10px;
  line-height: 50px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
  opacity: 0.7;
  transition: all 200ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--brand-primary);
}

h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 64px;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  color: #272142;
  line-height: 2;
}

h3 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.intro {
  background: var(--brand-secondary);
  text-align: center;
  padding: 160px 30px;
}

.about,
.work,
.contact {
  padding: 160px 30px;
}

.about h1 {
  font-size: 64px;
  line-height: 1;
}

.about h2 {
  font-size: 18px;
  font-weight: bold;
}

.work h3,
.contact h3 {
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
}

.work p,
.contact p {
  text-align: center;
  font-size: 14px;
  opacity: 0.7;
}

.primary-button {
  text-align: center;
  background: var(--brand-primary);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
}

.primary-button:hover {
  color: white;
}

.intersection {
  text-align: center;
  font-weight: bold;
  padding: 30px;
  color: #272142;
}

.apps-headline {
  font-family: var(--heading-font);
  font-size: 44px;
}

.apps-paragraph {
  font-size: 16px;
  opacity: 0.7;
  line-height: 30px;
}

.apps-button {
  text-align: center;
  border: 1px solid var(--brand-primary);
  color: var(--brand-primary);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
}

.apps-button:hover {
  color: var(--brand-primary);
}

@media (max-width: 768px) {
  .apps-headline,
  .apps-paragraph,
  .about-headline,
  .about-paragraph {
    text-align: center;
  }

  .intro,
  .about {
    padding: 80px 15px;
  }
}
